/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 26, 2016, 2:12:54 PM
    Author     : Admin
*/
body{
    font-family: Tahoma;
    background-image: url("../images/background.png");
    margin: auto;
    width: 60%;
    min-width: 900px;
    max-width: 1024px;
}

/* unvisited link */
a:link 
{
	text-decoration:none;
        color: #0066ff ;
}

/* visited link */
a:visited 
{
	text-decoration:none; 
        color: #3498DB ;
}

a:hover {text-decoration:underline;}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

/* The CSS for the form was taken from this project. 
https://github.com/pmcelhaney/semantic-form.css/blob/master/index.html
*/

#header
{
    display:inline-block;
    width: 100%;
}

.banniere
{
    font-size:x-large;
    padding-top: 20px;
}
.menu ul {
    list-style-type: none;
    padding: 0;    
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,0.8);
}

.menu li {
    float: left;
    border-right: 1px solid #ddd;
}

.menu li:last-child {
    border-right: none;
}

.menu li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

menu .active {
    background-color: #3498DB;
}

/* Change the link color to #111 (black) on hover */
.menu li a:hover {
    background-color: #3498DB;
    color: #fff
}

.titre_grille{
    display:block;
    padding: 5px;
    padding-left:10px;
    margin-top: 10px;
    font-size: 24px;
    background-color: rgba(255,255,255,0.8);
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-top:1px solid #ddd;
}
.carree_blanc{
    display:block;
    padding: 10px;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.8);
    border:1px solid #ddd;
}
.carree_blanc .gros_titre{
    font-size: 24px;
    padding: 10px;
}

.carree_blanc .explication{
    padding: 10px;
}

.carree_blanc .liens_bouton{
    padding: 10px;
}

.listing {
  background-color: #fafafa;
  border:1px solid #ddd;
  color:#444;
  border-radius: 1px;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
}

.listing tr:nth-child(even) {
    background-color: #e6e6e6;
}

.listing tr.alt td {
    background-color: whitesmoke;
}

.listing td{
    border: 1px solid #ccc; 
    padding: 4px;
    text-align:center;
    width: 100px;
}

.listing td.titre{
    float:none;
    width:auto;
    text-align:left;
    padding-left:10px;
}

.listing a:visited{
    color: #0066ff ;
}

.post{
    display: block;
    margin-top:10px;
    margin-bottom:10px;
    max-width: 100%;
    padding:20px;
    line-height: normal;
    word-wrap: break-word;
    border: 1px solid #ccc;
    background-color: rgba(255,255,255,0.8);
}

.post .titre{
    font-size: 30px;
    margin-bottom: 20px;
}

.post .description{
    margin-bottom:20px;
}

.post .image .zoom
{
    float:right;
    position:absolute;
    width:28px;
    height:28px;
    right:4px;
    bottom:7px;
}

.post .image{
    float:right;
    position:relative;
    margin-top: -8px;
    
}

.post .image .thumbnail{
    
    width:240px;
    height:160px;
    border: 6px solid white;
    border-radius: 10px;
    
}

.post .image .hidden-thumbnail{
    width:0px;
    height:0px;
}

.post .image .msg{
    font-variant:all-small-caps;
}


.post .sommaire{
    margin-bottom:20px;
}

.post .readmore{
    margin-bottom:10px;
}

.post .ingredients{
    margin-bottom:20px;
}

.post .instructions{
    margin-bottom:15px;
}

form {
    width:auto;
    padding:20px;
}

form fieldset
{

    clear: both;
    margin: 10px;
    padding: 10px;
    border: 1px solid #888;
}

form fieldset label
{
    font-weight:normal;
    float:left;
    position:static;
    width: 200px;
    overflow:hidden;
    display:block;
}

form label{
    font-weight:bold;
    padding-right: 10px;
}
form .explication{
    font-weight: bold;
}

form .explication .float{
    position:relative;
    float:right;
}

form input{
    margin-right: 20px;
}
form .explication input{
    width:70%;
}
form .sommaire input{
    width:70%;
}


form textarea{
    width:100%;
    resize: none;
}

form select{
    margin-right: 20px;
}

form legend
{
    font-weight: bold;
}

form .liens_bouton{
    text-align:right;   
}


#footer
{
  font-size: 80%;
  text-align : center;
  margin: 25px;
}

/* bottom */

.bottom {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size : 90%;
  color : #999;
  display : inline;
  margin-top: 3em;
}

.bottom a {
  color : #999;
}

.bottom a:hover {
  color : #ffcc33;
}

